.OrganizaBotoes{
    display: flex;
    margin: 1.5rem auto;
}

.botoes{
    display: block;
    margin: 1rem 2rem;
}

.botaoEspecial{
    width: 20rem;
}

.imagem{
    margin: 1rem 27.5%;
    height: 40%;
    width: 40%;
}