.OrganizaBotoes{
    display: flex;
    margin: 1.5rem auto;
}

.botoes{
    display: block;
    margin: 1rem;
}

.botaoEspecial{
    width: 15rem;
    background-color:#01223d !important;
    border: 0rem;
}

.imagem{
    margin: 1rem 30.5%;
    height: 35%;
    width: 35%;
}

.clicado{
    color:#01223d
}

@media screen and (max-width:1024px) { 
    .imagem{
        margin: 1rem 2rem;
        height: 80%;
        width: 80%;
    }
    .botao{
        margin-top: 0.25rem;
    }
}
