.titulo{
  font-family: 'Major Mono Display', monospace;
  font-size: 2rem;
  text-align: center;
}

.subtitulo{
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center; 
}

.textoDestaque{
  color: #00d2df
}

.destaquePrimeiraLetra:first-letter{
  color: #00d2df;
}

.texto{
  margin: 2rem;
  font-family: 'Montserrat Alternates', sans-serif;
}

.textoNegrito{
  font-weight: bold;
}